article{
  margin: 5% 0;
  padding: 1% 0;
  border-top: 1px dashed $grey;
  background: white;
}

.entry p{
  img{width: 75%; }
  @include media($breakpoint-ipad){
    font-size: 1em !important;
    padding: 1%;
    margin: 0;
    line-height: 20px;
  }
}

.entry h1,
.entry h2,
.entry h3{
  font-size: 1.5em;
  color: black;
  padding: 2% 0 0 2%;
  margin: 0;
}

.entry a{
  color: $blue;
}

.tags p{
  @include media($breakpoint-ipad){
    padding: 1%;
    margin: 0;
    background: $tan !important;
    font-size: 1em !important;
    text-align: right;

  }
}


.destroy{
  a{
    color: $red;
    margin-top: .5%;
    padding: 1%;
    float: right;
  }
}

.comment-field{
  textarea{
    width: 100%;
    margin-bottom: 2%;
  }
}