.m-task-mgmt
  .task-tag-punt-all
    = render 'bulk_task_buttons'

.m-task-list
  .tasks#task_list{ data: { update_url: sort_tasks_url, behavior: 'sortable' } }
    - @tasks.each do |task|
      - if task.due_date <= Time.now
        %section.task-wrapper#task-wrapper{ id: dom_id(task), data: { behavior: 'sortable-item' } }
          = render 'task_2b_row', task: task
          = render 'task_notes',  task: task

