.summary
  .button-row
    %h1.h1= @task.item
    .two-buttons
      .tb-edit-action
        = link_to 'List', tasks_path, class: 'link-basic-dark'
      .tb-edit-action
        = link_to 'Back', task_path(@task), class: 'link-basic-dark'

    = render 'form_3_entry'
