.summary.tag-page
  .tag-header
    %h1= params[:tags]
  .l-primary-content.task-action-bar
    = render 'form_2_entry'
    = render partial: 'task_list'
    = render partial: 'punted_list', tasks: @tasks
