* {
  -webkit-font-smoothing: antialiased !important;
  font-family: $sans;
}

html body {
  padding-left: 0; // IE
  padding-right: 0; // IE
}

body {
  background: $stone;
  color: $steele;
  font-family: $sans;
  font-size: 100%;
  text-shadow: 1px 1px 1px transparent;
}

body#printers {
  background: url("grey_wash.png");
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}


h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 a {
  font-size: 0.5em;
  @include media($breakpoint-ipad) {
    font-size: 1em;
    float: left;
  }
}
h1{
  line-height: 0.4em;
  margin-bottom: 0.5em;
  @include media($breakpoint-ipad) {
    font-size: 2em;
    line-height: 0.45em;
  }
}

h2 a {
  font-size: 0.65em;
  @include media($breakpoint-ipad) { float: left }
}
h3 a {
  font-size: 2em;
  width: 100%;
  color: white;
  display: inline-block;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

h4 {
  font-family: $cond;
  font-size: 2em;
  font-weight: 300;
}

li{
  list-style: none;
}

header {

}

table{
  width: 95%;
}

a {
  color: $grey;
  text-decoration: none;
  font-family: $cond;
  &:hover{ text-decoration: underline; }
  @include transition(all 0.2s ease-in-out);
}

hr {
  border-bottom: 1px solid $light-stone;
  border-top: 1px solid $light-grey;
} // hr
