// Breakpoints
// Mobile First - mobile styling up top.
$breakpoint-ipad: 512px; // This is to style vertical tablet
$breakpoint-desktop: 1024px; // destop and ipad landscape
$breakpoint-large-screen: 1536px; // large screen
