// Colors
$steele: #4c4c4c;
$tung: #333333;
$red: #db2525;
$pink: #ff6666;
$yellow: #F7F1B2;
$light-grey: #CFCFCF;
$grey: #808080;
$blue: #005fc5;
$hunter: #06633A;
$green: #95ac3b;
$money: #5c800d;
$tan: #dad7c7;
$burnt: #acaa9e;
$white: rgba(255,255,255,.5);
$black: rgba(0,0,0,.3);
$warning: #d26e3f;
$stone: #e5e2db;
$light-stone: #f1eee6;
$black: #5a5955;
$white: white;
