.hero
  .l-constrained
    %h1.hero-caption What do you do <br> when your TODO list <br> is done?

%section.headline
  .l-constrained
    %h1 Finish each day with a sense of accomplishment
    %hr.full-line-break
    %p Does your current 'list system' help you focus and feel good at the end of the day?
    %p Discover the freedom of living from a single list that has a daily finish line.

%section.overview
  .mac-tasks-image
    =image_tag "mac_overview.gif"
  .overview-copy
    %h1 One list to rule them all
    %p How many lists do you maintain? There's a better way to get a mental clean slate.
    %p Discover the freedom of living from a single list that has an ending each day.

%section.features
  %h1 Don't just make a list, do something
  %hr.full-line-break
  .feature-set-a
    %h2 Punt tasks
    %p Can't complete a task today? Punt it! Punted tasks patiently sit for 3 days before returning to your list. Or, manually return a task too.

    %h2 Sort tasks
    %p Sort your list by clicking and dragging

    %h2 Tag tasks
    %p Tags are anything to help you sort your list. They also have some magic powers. For example, add an '@' ("@3pm"), or 'zzz' ('read zzz') to highlight the task.
  .feature-set-b
    %h2 Jot notes
    %p Click on a task to see a page dedicated to the task. Take notes, and keep that page open to remind you what you're <em>really</em> supposed to be doing.
    %h2 Track time
    %p Each task has a timer to keep track of the amount of time you're actually spending <em>during</em> the task time.

%section.show-page
  .show-copy
    %h1 Focus on the task at hand
    %p
      Click on any task to get it's own page. There, you can track time, add notes, to help you get the task done.
    %p
      Notes are
      %a{ href: "http://daringfireball.net/projects/markdown/basics", class: 'markdown', taget: "_blank"} markdown
      friendly.
  .show-task-image
    =image_tag "mac_show.gif"

%section.signup
  .signup-button-section
    %a{href: "#{signup_path}", class: 'signup-button'} Join for Free
  .signup-copy
    %h1 Sign up for freedom
    %p
      Start learning what it means to manage your list instead of letting your list manage you.


.footer
  %ul
    - if current_user
      %li
        %a{href: "#{}"} Tasks
      %li
        %a{href: "#{logout_path}"} Log out
    - else
      %li
        %a{href: "#{login_path}"} Log In
    %li
      %a{href: "http://www.hireDave.me"} made by Dave

