.summary
  %h1 Inbox zero for tasks
  %h2 By Destroy all Tasks
  .action-row
    .features
      %h3 Features
      %ul
        %li One list to rule them all.
        %li Sort your list by priority.
        %li If you can't complete the task today, then 'punt' it.
        %li Add 'zzz' or '@' to a tag for highlighting.
        %li Click on a task to add comments.

    .signup-button
      .button=link_to "Join for Free", signup_path
