.summary
  %h1 <em>Inbox Zero</em> for tasks

  %h2 The point is focus.
  %p We all have storage like dropbox, evernote, google docs, trello, reminders, and more. They are all great and have a purpose. Don't clutter those places up with temporary notes and lists.

  %p Destroy all tasks is not a place to keep memeories, goals, or other things you don't want to check off.

  %h2 How to punt
  %p Lists are great ways to collect our thoughts. Not everything that goes on the list can be handled in a single day. There are tasks we want to do and tasks we have to do.

  %h3 "<em>But It's annoying to have to punt everything repeatedly.</em>"
  %p Punts are a way to look at something. If it's on your list, then it must have some level of importantance. This is a way to constantly remind you to either handle it, or simply declutter your mind by destroying the task.

  %h2 About
  %p I used <a href="http://www.backpackit.com" target="_blank">backpack</a> for years with notes. I loved having my tasks devise agnostic. The one thing I didn't like was that completed tasks would clutter up my work space. I didn't like having to have the noise of either list subjects, or having to double-delete, or confirm delete everything.
