// General Containers

.l-constrained {
  @include outer-container();
  padding: 0 $page-gutter;
  margin: $page-gutter;
}

#l-printer-wrapper { @include outer-container(); }

.l-main{
  @include row();
  margin: 0 2%;
}

.l-primary-content{
  @include media($breakpoint-ipad){
    margin: 0;
  }
}

.l-sidebar {
  border-top: 1px dashed $grey;
  padding: 5% 0;
  margin: 5% 0;

  @include media($breakpoint-ipad) {
    border-top: none;
    border-left: 1px dashed $grey;
    padding-left: 4%;
    padding-top: 0;
    @include span-columns(12);
    p{
      font-size: .9em;
      line-height: 25px;
    }
  }
}


