.l-footer{
  padding: 0 2%;
  li{
    @include span-columns(12);
    margin-top: 0.5em;

    @include media($breakpoint-ipad) {
      @include span-columns(3.8);
    }
  }
  a{
    @include span-columns(12);
    font-size: 2em;
    background: $burnt;
    color: $tung;
    padding: 0.5em 0;
    text-align: center;
    &:hover{
      background: $tung;
      color: $burnt;
      text-decoration: none;
    }
  }
}
