.l-footer{
  padding: 0 2em;
  ul {
    @include row;
   }
  li{
    margin-top: 1em;
    @include span-columns(12);
    @include media($breakpoint-ipad) {
    @include span-columns(2);
    @include omega(6n);
    }
  }
  a{
    @include span-columns(12);
    font-size: 1.5em;
    background: $burnt;
    color: $tung;
    padding: 0.5em 0;
    text-align: center;
    &:hover{
      background: $tung;
      color: $burnt;
      text-decoration: none;
    }
  }
}
