#header {}

.l-header {
  @include outer-container();
  text-align: right;
  ul {
    background: white;
    padding: 1em;
    text-align: center;
    margin: 0 0 0.3em 0;
    @include media($breakpoint-ipad) {
      background: none;
      text-align: right;
      margin: 0;
      padding: 0;
    }
  }
  li {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 1em;
  }

  a {
    display: inline-block;

    @include media($breakpoint-ipad) {
      margin: 0 0.5em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
