#header {}

.l-header {
  @include outer-container();
  text-align: right;

  li { display: inline-block; }

  a {
    display: inline-block;

    @include media($breakpoint-ipad) {
      margin: 0 0.5em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
