#header {}

.l-header {
  background: $burnt;
  padding: 0.3em 0;
  .navbar{
    @include row;
  }
  ul {
    @include media($breakpoint-ipad) {
      @include shift(2);
    }
  }
  li {
    @include span-columns(3);
    font-size: 1.2em;
    @include media($breakpoint-ipad) {
      @include span-columns(2);
    }
  }

  a {
    display: block;
    color: $tung;
    text-align: center;
    background: white;

    @include media($breakpoint-ipad) {
      background: none;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
