.l-backdrop{}

.l-header {}
.l-footer {}

.l-container { @include outer-container; }
.l-main{
  background: $stone;
  padding-top: $space;
  padding-bottom: $double-space;
}





// _TODO - move elements into modules

// General Containers

.l-constrained {
  @include outer-container();
  padding: 0 $space;
  margin: $space;
}

#l-printer-wrapper { @include outer-container(); }


.l-primary-content{
  @include media($breakpoint-ipad){
    margin: 0;
  }
}

.l-sidebar {
  border-top: 1px dashed $grey;
  padding: 5% 0;
  margin: 5% 0;

  @include media($breakpoint-ipad) {
    border-top: none;
    border-left: 1px dashed $grey;
    padding-left: 4%;
    padding-top: 0;
    @include span-columns(12);
    p{
      font-size: .9em;
      line-height: 25px;
    }
  }
}


// _TODO - move into layout.scss

// .l-header {
//   background: $burnt;
//   padding: 0.3em 0;
//   .navbar{
//     @include row;
//   }
//   ul {
//     @include media($breakpoint-ipad) {
//       @include shift(2);
//     }
//   }
//   li {
//     @include span-columns(3);
//     font-size: 1.2em;
//     @include media($breakpoint-ipad) {
//       @include span-columns(2);
//     }
//   }

//   a {
//     display: block;
//     color: $tung;
//     text-align: center;
//     background: white;

//     @include media($breakpoint-ipad) {
//       background: none;
//       &:last-child {
//         margin-right: 0;
//       }
//     }
//   }
// }
