// _TODO - move elements into modules

// General Containers

.l-constrained {
  @include outer-container();
  padding: 0 $page-gutter;
  margin: $page-gutter;
}

#l-printer-wrapper { @include outer-container(); }

.l-main{
  @include row();
  margin: 0 2%;
}

.l-primary-content{
  @include media($breakpoint-ipad){
    margin: 0;
  }
}

.l-sidebar {
  border-top: 1px dashed $grey;
  padding: 5% 0;
  margin: 5% 0;

  @include media($breakpoint-ipad) {
    border-top: none;
    border-left: 1px dashed $grey;
    padding-left: 4%;
    padding-top: 0;
    @include span-columns(12);
    p{
      font-size: .9em;
      line-height: 25px;
    }
  }
}


// _TODO - move into layout.scss
// _TODO - move elements into modules

#header {}

.l-header {
  background: $burnt;
  padding: 0.3em 0;
  .navbar{
    @include row;
  }
  ul {
    @include media($breakpoint-ipad) {
      @include shift(2);
    }
  }
  li {
    @include span-columns(3);
    font-size: 1.2em;
    @include media($breakpoint-ipad) {
      @include span-columns(2);
    }
  }

  a {
    display: block;
    color: $tung;
    text-align: center;
    background: white;

    @include media($breakpoint-ipad) {
      background: none;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}



// _TODO - move into layout.scss
.l-footer{
  padding: 0 $page-gutter; // _TODO - Needs spacing

  // _TODO - move this into a module.
  ul {
    @include row;
   }
  li{
    margin-top: 1em;
    @include span-columns(12);
    @include media($breakpoint-ipad) {
    @include span-columns(2);
    @include omega(6n);
    }
  }
  a{
    @include span-columns(12);
    font-size: 1.5em;
    background: $burnt;
    color: $tung;
    padding: 0.5em 0;
    text-align: center;
    &:hover{
      background: $tan;
      text-decoration: none;
    }
  }
}

