.l-backdrop{}

.l-header {}
.l-footer {}

.l-container { @include outer-container; }
.l-main{
  background: $stone;
  padding-top: $space;
  padding-bottom: $double-space;
}


.l-constrained {
  @include outer-container();
  padding: 0 $space;
  margin: $space;
}

.l-sidebar {
  border-top: 1px dashed $grey;
  padding: 5% 0;
  margin: 5% 0;

  @include media($breakpoint-ipad) {
    border-top: none;
    border-left: 1px dashed $grey;
    padding-left: 4%;
    padding-top: 0;
    @include span-columns(12);
    p{
      font-size: .9em;
      line-height: 25px;
    }
  }
}
