@mixin btn($font-color: $black, $bg-color:$yellow){
  display: inline-block;
  padding: 4%;
  font-size: 1em;
  background: $bg-color;
  color: $font-color;
  text-align: center;
  &:hover{
    background: darken($font-color, 30%);
  }
  @include media($breakpoint-ipad) {
    padding: 2%;
  }
}

.destroy-btn{
  @include btn($stone, $pink);
}
.punt-btn{
  @include btn($white, $stone);
  padding: 4%;
}
.all-btn{
  @include btn($black, $stone);
}
.edit-btn{
  @include btn($white, $black);
}

.timer-btn{
  @include btn($white, $black);
}

.save-btn input{
  @include btn($black, $stone);
  border: none;
}
