@mixin btn($font-color: $black, $bg-color:$yellow, $bg-hover:$green) {
  display: inline-block;
  border: none;
  padding: $half-space;
  @include span-columns(12);
  border-radius: 3px;
  font-size: 1em;
  background: $bg-color;
  color: $font-color;
  margin-top: 0;
  text-align: center;
  &:hover{
    background: $bg-hover;
    @include transition (all 100ms ease-in-out);
  }
}

.button-save-big {
  @include btn($dkgreen, $green, $dkgreen);
  font-size: $xxlarge;
  margin: 0;
  &:hover{
    color: $white;
  }
}

.task-punt-btn {
  @include btn($white, $tan, $stone);
  padding: 0.43em;
}
