@mixin btn($font-color: $black, $bg-color:$yellow, $bg-hover:$green){
  display: inline-block;
  padding: 4%;
  font-size: 1em;
  background: $bg-color;
  color: $font-color;
  text-align: center;
  &:hover{
    background: $bg-hover;
    @include transition (all 100ms ease-in-out);
  }
  @include media($breakpoint-ipad) {
    padding: 2%;
  }
}

.destroy-btn{
  @include btn($stone, $pink, $red);
}
.punt-btn{
  @include btn($white, $stone, $light-stone);
  padding: 4%;
}
.all-btn{
  @include btn($black, $stone, $light-stone);
}
.edit-btn{
  @include btn($white, $grey, $light-grey);
}

.timer-btn{
  @include btn($black, $stone, $light-grey);
}

.save-btn input{
  @include btn($black, $stone);
  border: none;
}
