.button-row { @include row; }

.button-row h1 {
  line-height: 1em;
  @include media($breakpoint-ipad) {
    float: left;
    width: 80%;
  }
 }

.two-buttons {
  @include clearfix;
  @include media($breakpoint-ipad) {
  @include shift(8);
  }
}

.two-buttons h3 {
  @include span-columns(6);
  font-size: 0.7em;
  @include media($breakpoint-ipad) {
    @include span-columns(4);
  }
}

.three-buttons {
  @include clearfix;
  @include media($breakpoint-ipad) {
  @include shift(4);
  }
}

.three-buttons h3 {
  @include span-columns(4);
  font-size: 1em;
  @include media($breakpoint-ipad) {
    @include span-columns(2);
  }
}

.timer-row {
  display: none;
  @include media($breakpoint-ipad) {
    @include clearfix;
    display: block;
  }
}

.timer-row h3 {
  @include span-columns(12);
  padding: 1em;
  margin: 0.5em 0;
  font-size: 1.2em;
  color: white;
  @include media($breakpoint-ipad) {
    @include span-columns(3);
  }
}

.timer-row h4{
  float: left;
  font-size: 3em;
  font-weight: bold;
  font-family: $sans;
}


.four-buttons {
  @include clearfix;
  @include media($breakpoint-ipad) {
  @include shift(4);
  }
}

.four-buttons h3 {
  @include span-columns(3);
  font-size: 0.7em;
  @include media($breakpoint-ipad) {
    @include span-columns(2);
  }
}
