@mixin footer-list-stacked {
  @include list-stacked;
  .tag-list-item {
    background: $steele;
    padding: $half-space 0;
    margin: $half-space 0;
  }
}

@mixin footer-list {
  .footer-user{
    @include list-grid;
    .tag-list-item {
      font-size: $large;
      @include span-columns(2);
      @include omega(6n);
      margin-top: $space;
    }
  }

  .footer-public{
    @include list-row;
    text-align:  center;
    padding: $space 0;
  }
}

.m-footer{
  @include media (max-width $bp-mobile) { @include footer-list-stacked; }
  @include media (min-width $bp-tablet max-width $bp-desktop) { @include footer-list; }
  @include media ($bp-desktop) { @include footer-list; }
}
