// Catch all file when you don't know where to put styling, at first.
// It should be refactored as needed.

.air{
  margin: 2% 0;
}

.alert{
  color: $tan;
  font-style: italic;
}

.wrap{
  margin: 3% 0;
}

.sign-in{
  @include white-round-box;
  h2{
    font-size: 3em;
  }
  @include media($breakpoint-ipad){
    @include span-columns(8);
   }
}

.user-header{
  p.home-page { background: none; }
  a {
    color: $burnt;
    font-size: .8em;
  }
}

.action-row{
  @include row;
}

.features {
  @include span-columns(6);
  h3 {
    font-weight: bold;
    margin-top: 2em;
  }
  ul li{
    color: $grey;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 40px;
    list-style: disc;
  }
}

.button{
  @include span-columns(5);
  @include shift(1);
  margin-top: 55px;
  padding: 3%;
  // margin-right: 5%;
  // @include shift(5);
  // float: right;
  background: $money;
  text-align: center;
  &:hover{ background: $green; }
  a{
    font-size: 3em;
    font-weight: bold;
    &:hover{
      text-decoration: none;
    }
  }
}