// Mixins
@mixin links-common {
  display: block;
  padding: $half-space 0;
}

@mixin basic {
  @include links-common;
  text-decoration: none;
}

.link-basic-light {
  @include basic;
  color: $white;
  &:hover{
    color: $light-stone;
  }
}
