// Refactor into more accurate variable names;
// $dark-button;
// $dark-background;
// Rainbow
$pink:    #ff6666;
$red:     #db2525;
$yellow:  #F7F1B2;
$blue:    #005fc5;
$green:   #b7da9b;
$dkgreen: #95ac3b;

// Earth tones
$tan: #dad7c7;
$stone: #e5e2db;
$light-stone: #f1eee6;

// Actions
$warning: #d26e3f;
$money: #5c800d;

// Shades
$white: white;
$light-grey: #e6e6e6;
$grey: #808080;
$steele: #4c4c4c;
$black: #333333;

// Text
$text-color: $steele;

// Refactor
$burnt: #acaa9e;
