// Typefaces
$sans:  "proxima-nova", sans-serif !important;
$serif: "lexia", serif !important;
$cond:  "proxima-nova-extra-condensed",sans-serif !important;


// Base declarations
$base-font-size:   100%   !important;
$base-font-family: $sans  !important;
$base-font-weight: normal !important;

// Headings
$heading-font-family: $sans !important;
$heading-font-weight: bold  !important;
