// Typefaces
$sans:  "proxima-nova", sans-serif !important;
$serif: "lexia", serif !important;
$cond:  "proxima-nova-extra-condensed", sans-serif !important;


// Base declarations
$base-font-size:   100%;
$base-font-family: $sans;
$base-font-weight: normal;

// Headings
$heading-font-family: $sans;
$heading-font-weight: bold;
