
.tag-title{
  input[type='submit']{
    border: none;
    color: $grey;
    background: none;
    text-decoration: underline;
    font-size: 0.8em;
    font-family: $cond;
    @include media($breakpoint-ipad) { margin-top: 1.5em; }
  }
}

.tag-title{
  @include media($breakpoint-ipad) {
    @include row();
    h1{ @include span-columns(2); }
    h2{ @include span-columns(6); }
  }
}
