.tag-header {
  @include row();
  h1.tag-title {
      @include span-columns(4);
    @include media($breakpoint-ipad) {
      @include span-columns(8);
    }
  }

  .tag-actions {
    @include row();
    .punt, .destroy{
      @include span-columns(3);
      @include media($breakpoint-ipad) {
      @include span-columns(1);

      }
    }
  }
}

.tag-actions{
  input[type='submit']{
    border: none;
    color: $grey;
    background: none;
    text-decoration: underline;
    font-size: 0.8em;
    font-family: $cond;
    @include media($breakpoint-ipad) { margin-top: 1.5em; }
  }
}
