.punt{
  text-align: right;
}
.punt-form{
  form{
    margin: 0;
  }
  button{
    background: none;
    border: none;
  }
}

.return-time{
    font-style: italic;
    font-family: $serif;
}

.highlight{
  background: $yellow;
}
.snooze{
  background: $light-grey;
}
.urgent{
  background: $warning;
}
.tasks.summary{
  a{
    color: black;
  }
}
.destroy{
  width: 10%;
}
.home-button{
  @include btn($grey, red);
  &.destroy{
    background: $burnt;
    float: right;
    a{ color: white;}
  }
}

.feature{
  color: $burnt;
}

td span.task-name a{
  font-size: 1.6em;
}

td span.task-edit a{
  color: $grey !important;
}

#task_item{
  padding: 10px;
  font-size: 3em;
  width: 100%;
  margin-bottom: 2%;
}

.actions{
  input{
    @include btn($burnt, black);
  }
}

.counter{
  text-align: right;
  color: white;
  margin-top: 2%;
}

.highlight {
  background: $yellow;
}

.tasks.summary td.destroy a{
  color: $pink;
}