.full-line-break {
  width: 75%;
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
}

.nav-bar {
  position: relative;
  z-index: 10;
  overflow: auto;
  background: rgba(0,0,0, 0.3);

  a {
    color: white;
  }

} // .nav-bar

.nav-logo{
  color: white;
  text-align: center;

  h1 {
    font-family: $cond;
    font-weight: 800;
  }

  h2 {
    font-style: italic;
    font-weight: 100;
  }

  @include media($breakpoint-ipad) {
    float: left;
    text-align: left;
  }

} // .nav-logo

.nav-links {
  text-align: center;

  li {
    display: inline-block;
    margin-left: 1em;
    font-size: 1.5em;
    &:first-child { margin-left: 0; }
  }

  @include media($breakpoint-ipad) {
    float: right;

    li {
      margin-right: 0.625em;
      font-size: 1.2em;
    }

  } // @include media($breakpoint-ipad)

} // .nav-links

.hero {
  background: url('hero.jpg') no-repeat;
  background-position: top left;
  -webkit-background-size: cover;
  background-size: cover;
}

// position (z-index, position, top/left/right/bottom)
// display (display, visibility, opacity)
// box-model (padding, margin, border(+radius), box-shadow)
// colors (background( et all), color)
// typefaces (font/family/size/weight/line-height, etc...)
// other misc that I can't think of

.hero-caption {
  margin-bottom: 1em;
  color: white;
  color: rgba(255,255,255,0.7);
  font-family: $cond;
  font-weight: 800;
  line-height: 1.1;
  text-align: right;

  @include media($breakpoint-ipad) {
    font-size: 3.8em;
  }

  @include media($breakpoint-desktop) {
    font-size: 5em;
  }

} // .hero-caption

.headline {
  padding: 1em 0;
  text-align: center;

  h1{
    font-size: 1.6em;
  }

  @include media($breakpoint-ipad) {

    h1 {
      font-family: $cond;
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em;
      line-height: 1.2;
    }

  } // @include media($breakpoint-ipad)

  @include media($breakpoint-desktop) {

    h1 {
      font-family: $sans;
      font-size: 3em;
    }

  } // @include media($breakpoint-desktop)

  @include media($breakpoint-large-screen) {

    p {
      font-size: 1.7em;
    }

  } // @include media($breakpoint-large-screen)

} // .headline

.overview{
  @include row;
  margin-top: 3%;

  .mac-tasks-image{
    @include media($breakpoint-ipad) {
      @include shift(-2);
      @include span-columns(5);
    }

    @include media($breakpoint-large-screen) {
      @include shift(1);
      @include span-columns(5);
    }
  }

  img{
    width: 100%;
    @include media($breakpoint-ipad) {
      width: 180%;
    }
    @include media($breakpoint-large-screen) {
      width: 130%;
    }
  }
  .overview-copy{
    @include media($breakpoint-ipad) {
      @include shift(3);
      @include span-columns(6);
    }
    @include media($breakpoint-large-screen) {
      @include shift(.5);
      @include span-columns(4);
    }

    h1{
      font-size: 2em;
      text-align: center;
      font-family: $cond;
      font-weight: 800;
      margin: 0;

      @include media($breakpoint-ipad) {
        margin-top: 3%;
        text-align: left;
        font-size: 2.3em;
      }

      @include media($breakpoint-desktop) { font-size: 3.3em; }
      @include media($breakpoint-large-screen) { font-size: 4em; }
    }
  }

  p{
    @include media($breakpoint-ipad) {
      margin: 0 0 2% 0;
      line-height: 22px;
      width: 80%;
    }
    @include media($breakpoint-desktop) {
      font-size: 1.2em;
      line-height: 25px;
    }
  }
}

.features{
  @include row;
  width: 100%;
  background: white;
  padding: 5% 0 10% 0;
  margin: 2% 0;
  @include media($breakpoint-desktop) { padding: 4% 0;}
  @include media($breakpoint-large-screen) { padding: 2% 0;}

  h1{
    text-align: center;
    font-size: 2.4em;
    font-family: $cond;
    line-height: 40px;
    margin-bottom: 2%;

    @include media($breakpoint-desktop) {font-size: 3em;
      font-family: $sans;
    }
    @include media($breakpoint-large-screen) {font-size: 4em; }
  }
  h2{
    font-size: 2em;
    margin-top: 4%;
  }
  p{
    margin: 0;
  }
  .feature-set-a{
    @include media($breakpoint-ipad) {
      @include shift(2);
      @include span-columns(4);
     }

    @include media($breakpoint-large-screen) {
      @include shift(3);
      @include span-columns(3);
    }
  }
  .feature-set-b{
    @include media($breakpoint-ipad) {
      @include shift(1);
      @include span-columns(4);
    }

    @include media($breakpoint-large-screen) {
      @include span-columns(3);
    }
  }
}

.show-page{
  @include row;
  .show-copy{
    @include media($breakpoint-ipad) {
      @include shift(1);
      @include span-columns(5.5);
      margin-top: 15%;
    }

    @include media($breakpoint-large-screen) {
      @include shift(2);
      @include span-columns(3);
      margin-top: 8%;
    }
    h1{
      font-size: 2em;
      text-align: center;
      margin: 5% 0 0 0;
      font-family: $cond;
      @include media( $breakpoint-ipad) { text-align: left; }
      @include media($breakpoint-desktop) { font-size: 3em; }
      @include media($breakpoint-large-screen) { font-size: 4em; }
    }
    p{
      margin: 0 0 3% 0;
      padding: 0 2%;
      @include media($breakpoint-desktop) { font-size: 1.2em; }
    }
    a{
      color: $red;
    }
  }
  .show-task-image{
    @include media($breakpoint-ipad) {
      @include shift(0);
      @include span-columns(5.5);
      overflow: hidden;
      margin-top: 5%;
     }

    @include media($breakpoint-ipad) { margin-top: 2% }

    @include media($breakpoint-large-screen) {
      @include shift(1);
      @include span-columns(5);
      overflow: auto;
    }
    img{
      width: 100%;
      @include media($breakpoint-ipad) {width: 200%; }
      @include media($breakpoint-desktop) {width: 180%; }
      @include media($breakpoint-large-screen) {width: 100%; }
    }
  }
}
.signup{
  margin-top: 10%;
  background: white;
  padding: 5%;
  @include row;

  .signup-copy{
    @include media($breakpoint-ipad) {
      @include shift(.5);
      @include span-columns(5);
    }
    @include media($breakpoint-desktop) { margin-top: 2%; }
    @include media($breakpoint-large-screen) {
      @include shift(-2);
      @include span-columns(4);
      margin-top: 1%;
    }

    h1{
      font-size: 1.5em;
      margin-top: 2%;
      font-family: $cond;
      text-align: center;
      @include media($breakpoint-ipad) {
        font-size: 2em;
        text-align: left;
        padding: 0;
        margin: 0;
      }
      @include media($breakpoint-desktop) {
        font-size: 3em;
      }
    }
    p{
      font-size: .8em;
      padding: 0 4%;
      text-align: center;
      margin-top: 0;
      @include media($breakpoint-ipad) {
        text-align: left;
        padding: 0;
        font-size: 1.2em;
      }
      @include media($breakpoint-desktop) {
        line-height: 25px;
      }
    }
  }
}
.signup-button{
  @include media($breakpoint-ipad) { @include span-columns(5); }
}
.signup-button-section{
  @include media($breakpoint-large-screen) {
    @include shift(1.5);
    @include span-columns(5);
  }
}
a.signup-button{
  display: block;
  background: $green;
  color: white;
  padding: 5%;
  margin: 0 5%;
  text-align: center;
  font-family: $cond;
  font-size: 2em;
  font-weight: bold;
  @include media($breakpoint-desktop) {
    font-size: 3em;
    padding: 4%;
  }
}

.footer{
  ul{
    @include media($breakpoint-ipad) {
      width: 100%;
      font-size: 120%;
      text-align: center;
    }
  }
  a{
    display: block;
    text-align: center;
    font-family: $cond;
    @include media($breakpoint-ipad) {
      background: none;
      font-weight: 400;
    }
  }
  li{
    @include media($breakpoint-ipad) {
      display: inline-block;
    }
  }
}
