.summary {
  padding: 0;
  margin: 0;
  @include span-columns(12);
  @include white-round-box;
  h2{ @include text-tag; }
  p{
    font-size: 2em;
    background: white;
  }
  li{
    @include media($breakpoint-ipad) {
      padding: 0;
      margin: 0;
    }
    a{
      display: block;
      border-radius: 4px;
      padding: 4%;
      margin: 1% 0;
      border: 2px solid rgba(255,255,255,.6);
      width: 100%;
      background: $burnt;

      @include media($breakpoint-ipad){
        padding: .8% 2%;
        margin: 4% 0;
        background: none;

      }

      @include media($breakpoint-desktop){

      }

      &:hover{
        text-decoration: none;
        background: $black;
      }
    }
  }
}
